body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:#111827;
    color:white;
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:42px;
}

form{
    margin-top:30px;
}

input{
    width:300px;
    padding:14px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    padding:14px 24px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.jobs{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:40px;
}

.card{
    background:white;
    width:320px;
    padding:25px;
    border-radius:14px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.card h2{
    font-size:22px;
}

.card h3{
    color:#2563eb;
}

.card a{
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    background:#111827;
    color:white;
    padding:10px 20px;
    border-radius:8px;
}
.logo{
    width:70px;
    height:70px;
    object-fit:contain;
    margin-bottom:15px;
}

.location{
    color:#555;
    margin-top:10px;
}

.salary{
    color:green;
    font-weight:bold;
    margin-top:10px;
}

.tags{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-top:15px;
}

.tags span{
    background:#e5e7eb;
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
}
.date{
    color:#777;
    font-size:14px;
    margin-top:8px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}